<h1>Subscription</h1>
<p>
  Congratulations you Subscribe to new plan for New Article App.
</p>

<p> First Name: <%=@subscription.first_name%> </p>
<p> Last Name: <%=@subscription.last_name%> </p>
<p> City: <%=@subscription.city%> </p>
<p> State: <%=@subscription.state%> </p>
<p> Zip code: <%=@subscription.zip_code%> </p>
<p> Plan: <%=@subscription.plan.name%> </p>
<p> Order Number: <%=@subscription.order_no%> </p>

