<h1>Subscription</h1>
<p>
  Congratulations you redeem successfully...
</p>

<h3> User Details </h3>
<p> First Name: <%=@user.first_name%> </p>
<p> Last Name: <%=@user.last_name.last_name%> </p>
<p> City: <%=@user.city%> </p>
<p> State: <%=@user.state%> </p>
<p> Zip code: <%=@user.zip_code%> </p>
<p> Shipping Address: <%=@shipping_address.street_address%> </p>


<h3 > Reward Details </h3>
<p> Title: <%=@reward.title%> </p>
<p> Adress: <%=@reward.address%> </p>
<p> Shop Name: <%=@reward.shop_name%> </p>
<p> Description: <%=@subscription.description%> </p>

